.cases {
  margin: 140px auto 0 auto;
  max-width: var(--max-width);
  padding: 0 48px;
  scroll-margin-block-start: 140px;

  @media (max-width: 1023px) {
    margin: 80px auto 0 auto;
    padding: 0 12px;
    scroll-margin-block-start: 80px;
  }

  h2 {
    font-size: var(--font-size-5xl);
    color: var(--color-primary);
    font-weight: var(--font-weight-semi-bold);
    text-align: center;

    @media (max-width: 1349px) {
      font-size: var(--font-size-4xl);
    }

    @media (max-width: 1023px) {
      font-size: var(--font-size-2xl);
    }
  }

  > p {
    margin-top: 16px;
    font-size: var(--font-size-lg);
    color: var(--color-secondary);
    text-align: center;

    @media (max-width: 1023px) {
      margin-top: 12px;
      color: var(--color-primary);
      font-size: var(--font-size-sm);
    }

    span {
      display: block;
      line-height: 1.2;
    }
  }

  &__container {
    margin-top: 48px;
    border-radius: 32px;
    background-color: var(--color-accent-dark);
    padding: 48px 24px;
    overflow-x: hidden;

    @media (max-width: 1023px) {
      margin-top: 24px;
      border-radius: 24px;
      padding: 32px 16px;
    }
  }

  &__active-category-container {
    overflow-x: hidden;
    border-radius: 24px;
    margin-top: 24px;
    
    @media (max-width: 1023px) {
      margin-top: 16px;
      border-radius: 16px;
    }
  }

  &__categories-container {
    width: 3000px;
    overflow-x: hidden;
  }

  &__categories {
    gap: 24px;
    display: inline-flex;
    transition: transform .3s ease-in-out;

    @media (max-width: 1023px) {
      gap: 8px;
    }

    > div {
      font-size: var(--font-size-md);
      padding: 24px;
      color: #bfc5d0;
      font-weight: var(--font-weight-medium);
      background-color: transparent;
      border-radius: 12px;
      cursor: pointer;
      user-select: none;
      transition: all .2s ease-in-out;

      @media (max-width: 1023px) {
        padding: 13px;
        font-size: var(--font-size-sm);
      }

      @media (hover: hover) {
        &:hover {
          transform: scale(102%);
        }
      }

      &.--active {
        background-color: var(--color-primary);
        color: var(--color-white-contrast);

        @media (hover: hover) {
          &:hover {
            transform: none;
          }
        }
      }
    }
  }

  &__progress-bar-container {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 48px;

    @media (max-width: 1023px) {
      gap: 16px;
      margin-top: 12px;
    }
  }

  &__progress-bar {
    position: relative;
    flex-grow: 1;
  }

  &__progress-bar-track {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--color-primary);

    @media (max-width: 1023px) {
      height: 2px;
    }
  }

  &__progress-bar-slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: var(--color-tertiary);
    transition: width .5s ease-in-out;
    will-change: width;

    @media (max-width: 1023px) {
      height: 2px;
    }
  }

  &__progress-bar-controls {
    user-select: none;
    display: inline-flex;
    gap: 12px;

    div {
      padding: 12px;
      background-color: var(--color-quaternary);
      border-radius: 8px;
      cursor: pointer;
      transition: transform .3s ease-in-out;

      @media (max-width: 1023px) {
        padding: 4px;
        border-radius: 6px;
      }

      &.--disabled {
        cursor: default;

        svg {
          color: #a0a5ae;
        }
      }

      svg {
        width: 24px;
        height: 24px;
        color: var(--color-primary);
        transition: color .2s var(--default-transition-timing-function);

        @media (max-width: 1023px) {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  &__case-container {
    display: flex;
    gap: 24px;
    margin-top: 24px;
    flex-direction: row;

    @media (max-width: 1023px) {
      flex-direction: column;
      gap: 0;
    }

    &:first-child {
      margin-top: 0;
    }

    .cases__case {
      flex: 1;

      .cases__case-content {
        display: block;
        margin-top: 32px;

        @media (max-width: 1023px) {
          margin-top: 24px;
        }

        > div:first-child {
          padding: 0 0 16px;

          @media (max-width: 1023px) {
            padding: 0 0 24px;
          }
        }
      }

      .cases__case-description {
        border-left: none;
        padding: 0;
      }
    }
  }

  &__header-container {
    padding: 0 24px;
    overflow-x: hidden;

    @media (max-width: 1023px) {
      padding: 0 8px;
    }
  }

  &__case  {
    background-color: var(--color-white);
    border-radius: 24px;
    padding: 48px;

    @media (max-width: 1023px) {
      border-radius: 16px;
      padding: 16px;
    }

    &-header {
      display: flex;
      justify-content: space-between;

      img {
        height: 48px;
        
        @media (max-width: 1023px) {
          height: 28px;
        }
      }

      div {
        display: flex;
        align-items: center;
        font-size: var(--font-size-md);
        color: var(--color-primary);

        @media (max-width: 1023px) {
          font-size: var(--font-size-sm);
        }

        &:before {
          content: "";
          width: 6px;
          height: 6px;
          background-color: var(--color-contrast);
          border-radius: 100px;
          margin-right: 8px;
          flex-shrink: 0;
        }
      }
    }

    &-content {
      margin-top: 16px;
      display: flex;
      gap: 24px;
      
      @media (max-width: 1023px) {
        margin-top: 24px;
      }

      > div:first-child {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 16px 0;
        justify-content: space-between;

        @media (max-width: 1023px) {
          padding: 0;
        }

        > div:first-child {
          color: var(--color-primary);
          font-size: var(--font-size-3xl);
          font-weight: var(--font-weight-medium);

          @media (max-width: 1023px) {
            font-size: var(--font-size-lg-xl);
            font-weight: var(--font-weight-semi-bold);
          }
        }
      }
    }

    &-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      > div {
        font-size: var(--font-size-base);
        color: var(--color-primary);
        display: inline-block;
        background: var(--color-light-grey);
        padding: 16px;
        border-radius: 12px;
        white-space: nowrap;
      }
    }

    &-description {
      flex: 1;
      padding: 16px 24px;
      border-left: 2px solid var(--color-quaternary);

      p {
        margin-top: 12px;
        color: var(--color-secondary);
        font-size: var(--font-size-md);
        text-align: left;
        line-height: 1.2;

        @media (max-width: 1023px) {
          margin-top: 8px;
          font-size: var(--font-size-sm);
        }
      }

      > div:nth-child(1) {
        color: var(--color-accent-dark);
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-medium);

        @media (max-width: 1023px) {
          font-size: var(--font-size-base);
          color: var(--color-primary);
        }
      }

      > div:nth-child(3) {
        margin-top: 32px;
        color: var(--color-accent-dark);
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-medium);

        @media (max-width: 1023px) {
          margin-top: 24px;
          font-size: var(--font-size-base);
        }
      }

      > div:nth-child(5) {
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: right;

        @media (max-width: 1023px) {
          justify-content: left;
        }

        .btn {
          padding: 13px;

          @media (max-width: 1023px) {
            padding: 16px;
          }

          span {
            line-height: 1.1;

            svg {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }

  &__button-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 48px;
    flex-direction: row;

    @media (max-width: 1023px) {
      flex-direction: column-reverse;
      gap: 12px;
      margin-top: 36px;
    }

    .btn {
      width: 304px;
      max-width: 50%;

      @media (max-width: 1023px) {
        width: 100%;
        max-width: none;
      }
    }
  }

  &__footer {
    padding: 0;

    @media (max-width: 1023px) {
      padding: 0 8px;
    }

    p {
      margin-top: 48px;
      text-align: center;

      @media (max-width: 1023px) {
        margin-top: 36px;
        padding: 0 16px;
      }

      span {
        line-height: 1.2;
        font-size: var(--font-size-sm);
        color: var(--color-secondary);
        display: block;

        @media (max-width: 1023px) {
          font-size: var(--font-size-xxs);
          display: inline;
        }
      }
    }
  }

  &__cases-pagination {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 16px;

    div {
      background-color: var(--color-quaternary);
      cursor: pointer;
      transition: transform .3s ease-in-out;
      padding: 6px;
      border-radius: 6px;

      &.--disabled {
        cursor: default;

        svg {
          color: #a0a5ae;
        }
      }

      @media (hover: hover) {
        &:hover {
          transform: scale(102%);
        }
      }

      svg {
        width: 24px;
        height: 24px;
        color: var(--color-primary);
        transition: color .2s var(--default-transition-timing-function);
      }
    }
  }
}

/* Модальное окно при открытии кейсов */
.cases-modal {
  height: 100%;
  overflow: hidden;

  &__header {
    div:first-child {
      display: none;
      align-items: center;
      padding-bottom: 16px;
      color: var(--color-secondary);
      font-size: var(--font-size-xs);

      @media (max-width: 767px) {
        display: flex;
      }

      &:before {
        content: "";
        width: 6px;
        height: 6px;
        background-color: var(--color-contrast);
        border-radius: 100px;
        margin-right: 8px;
        flex-shrink: 0;
      }
    }
  }

  &__header-line {
    display: inline-flex;
    gap: 12px;
    padding-bottom: 32px;
    border-bottom: 2px solid var(--color-light-grey);
    align-items: start;

    @media (max-width: 767px) {
      align-items: center;
      padding-bottom: 16px;
    }

    img {
      height: 24px;

      @media (max-width: 767px) {
        height: 28px;
      }
    }

    h3 {
      font-size: var(--font-size-2xl);
      font-weight: var(--font-weight-semi-bold);
      color: var(--color-primary);

      @media (max-width: 767px) {
        font-size: var(--font-size-md);
      }
    }
  }

  &__content {
    padding: 32px 23px 0 0;

    @media (max-width: 767px) {
      padding: 24px 15px 0 0;
    }

    h4, h5 {
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-semi-bold);
      color: var(--color-primary);
    }

    h4 {
      margin-top: 48px;

      @media (max-width: 767px) {
        margin-top: 24px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    h4 + p, h4 + ul {
      margin-top: 12px;
    }

    h5 {
      margin-top: 32px;

      @media (max-width: 767px) {
        margin-top: 24px;
      }

      span {
        color: var(--color-secondary);
      }
    }

    p {
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-normal);
      color: var(--color-secondary);
      line-height: 1.2;

      @media (max-width: 767px) {
        font-size: var(--font-size-sm);
      }
    }

    ul {
      display: flex;
      margin-top: 24px;
      padding: 0;
      flex-wrap: wrap;
      column-gap: 16px;
      row-gap: 10px;

      &.--classic {
        li {
          display: flex;
          flex: unset;
          gap: 8px;
          align-items: start;

          &:before {
            display: none;
          }

          svg {
            width: 12px;
            height: 12px;
            color: var(--color-contrast);
          }
        }
      }

      li {
        display: inline-flex;
        color: var(--color-secondary);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-base);
        list-style-type: none;
        align-items: center;

        @media (max-width: 767px) {
          font-size: var(--font-size-sm);
        }

        &:before {
          content: "";
          width: 6px;
          height: 6px;
          background-color: var(--color-contrast);
          border-radius: 100px;
          margin-right: 7px;
          flex-shrink: 0;

          @media (max-width: 767px) {
            margin-right: 8px;
          }
        }
      }
    }
  }
}