.contact-form {
  margin: 140px auto 0 auto;
  max-width: var(--max-width);
  position: relative;
  overflow: hidden;
  padding: 0 48px;

  @media (max-width: 1023px) {
    margin: 62px auto 0 auto;
    padding: 18px 12px 0 12px;
  }

  .tag {
    position: absolute;
    bottom: 48px;
    left: 96px;
    background-color: var(--color-accent-blue);
    border-radius: 100px 0 100px 100px;
    z-index: 1;
    height: 48px;
    width: 48px;
    padding: 12px;

    svg {
      height: 24px;
      width: 24px;
    }

    @media (max-width: 1023px) {
      top: 0;
      right: 48px;
      left: unset;
      height: 36px;
      width: 36px;
      padding: 10px;

      svg {
        height: 16px;
        width: 16px;
      }
    }
  }



  > svg {
    width: 680px;
    aspect-ratio: 1 / 1;
    position: absolute;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: .8;

    @media (max-width: 1023px) {
      width: 300px;
    }

    &:nth-child(3) {
      bottom: -28px;
      left: -69px;
      top: unset;
      animation-name: spin-1;

      @media (max-width: 1023px) {
        display: none;
      }
    }

    &:nth-child(4) {
      bottom: -570px;
      left: -97px;
      animation-name: spin-2;
      top: unset;

      @media (max-width: 1023px) {
        display: none;
      }
    }
  }

  &__container {
    padding: 48px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-accent-dark);
    border-radius: 32px;
    flex-direction: row;

    @media (max-width: 1023px) {
      flex-direction: column;
      padding: 36px 24px 32px 24px;
      border-radius: 24px;
    }

    > form {
      flex: 1;
      margin-top: 0;

      @media (max-width: 1023px) {
        margin-top: 24px;
      }
    }

    > div {
      flex: 1;
      margin-top: 0;
    }
  }

  &__title {
    font-weight: var(--font-weight-medium);
    color: var(--color-white-contrast);
    font-size: var(--font-size-3xl);
    text-align: left;

    @media (max-width: 1023px) {
      font-weight: var(--font-weight-semi-bold);
      font-size: var(--font-size-2xl);
      text-align: center;
    }

    span {
      line-height: 1.2;
      display: block;
    }
  }

  &__subtitle {
    margin-top: 16px;
    font-size: var(--font-size-lg);
    color: var(--color-secondary);
    text-align: left;

    @media (max-width: 1023px) {
      margin-top: 12px;
      font-size: var(--font-size-sm);
      text-align: center;
    }

    span {
      line-height: 1.2;
      display: block;
    }
  }

  &__group {
    margin-top: 16px;

    @media (max-width: 1023px) {
      margin-top: 12px;
    }
  }

  .btn {
    margin-top: 48px;
    display: flex;
    width: 100%;

    @media (max-width: 1023px) {
      margin-top: 24px;
    }
  }

  form .processing-personal-data-agree {
    margin-top: 24px;

    @media (max-width: 1023px) {
      margin-top: 16px;
    }
  }

  .checkbox {
    margin-top: 16px;
    position: relative;
    z-index: 1;
  }
}