.faq {
  margin: 140px auto 0 auto;
  max-width: var(--max-width);
  padding: 0 48px;

  @media (max-width: 1023px) {
    margin: 80px auto 0 auto;
    padding: 0 12px;
  }

  &__container {
    padding: 78px 0 92px 0;
    background-color: var(--background-light-grey);
    border-radius: 32px;

    @media (max-width: 1023px) {
      padding: 32px 24px;
    }
  }

  h2 {
    font-size: var(--font-size-5xl);
    font-weight: var(--font-weight-semi-bold);
    color: var(--color-primary);
    text-align: center;

    @media (max-width: 1349px) {
      font-size: var(--font-size-4xl);
    }

    @media (max-width: 1023px) {
      font-size: var(--font-size-2xl);
    }
  }

  &__questions-container {
    max-width: 888px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 48px;

    @media (max-width: 1023px) {
      margin-top: 24px;
    }
  }

  &__questions {
    opacity: 0;

    > div {
      overflow-y: hidden;
      background-color: var(--color-white);
      margin-top: 16px;
      border-radius: 12px;
      transition: max-height .3s linear;

      &:first-child {
        margin-top: 0;
      }

      &.--active {
        > div > div:last-child svg {
          transform: rotate(270deg);
        }
      }
    }
  }

  &__question-answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-secondary);
    padding: 0 24px 24px 24px;
    transition: height .3s ease-in-out, padding .3s ease-in-out, opacity .4s ease-in-out;
    will-change: height, padding, opacity;
    overflow: hidden;
    opacity: 0;
    line-height: 1.2;
    cursor: pointer;
    font-size: var(--font-size-base);

    @media (max-width: 1023px) {
      padding: 0 16px 16px 16px;
      font-size: var(--font-size-sm);
    }

    &.--init {
      transition: none;
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    cursor: pointer;
    user-select: none;
    padding: 24px;
    gap: 0;

    @media (max-width: 1023px) {
      padding: 16px;
      align-items: start;
      gap: 4px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      align-items: center;
    }

    &.--active {
      > div:last-child svg {
        transform: rotate(270deg);
      }
    }

    > div {
      &:first-child {
        color: var(--color-primary);
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-semi-bold);

        @media (max-width: 1023px) {
          font-size: var(--font-size-md);
        }
      }

      &:last-child {
        padding: 4px;
        border-radius: 8px;
        background-color: var(--color-contrast);

        @media (max-width: 1023px) {
          padding: 6px;
        }

        svg {
          width: 24px;
          height: 24px;
          color: var(--color-white);
          transform: rotate(90deg);
          transition: transform .3s ease-in-out;

          @media (max-width: 1023px) {
            width: 17px;
            height: 17px;
          }
        }
      }
    }
  }
}