.footer {
  margin-top: 140px;
  background-color: var(--color-accent-dark);
  padding: 64px 0;

  @media (max-width: 1023px) {
    padding: 36px 0;
    margin-top: 80px;
  }

  &__container {
    padding: 0 48px;
    max-width: var(--max-width);
    margin: 0 auto;
    color: var(--color-white);

    @media (max-width: 1023px) {
      padding: 0 12px;
    }
  }

  &__line {
    display: flex;
    justify-content: space-between;

    &.--with-gap {
      > div {
        gap: 88px;
      }
    }

    &.--only-desktop {
      display: none;

      @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
      }
    }

    &.--only-mobile {
      display: none;

      @media (max-width: 1023px) {
        display: flex;
        flex-direction: column;
      }
    }

    &:nth-child(2) {
      margin-top: 48px;
      padding-top: 24px;
      border-top: 2px solid var(--color-primary);
    }

    &:nth-child(4) {
      margin-top: 36px;
      border-top: 1px solid var(--color-primary);
      padding-top: 36px;

      @media (max-width: 1023px) {
        gap: 16px;
      }
    }
  }

  &__logo-container {
    display: inline-flex;
    gap: 12px;
    align-items: center;

    svg {
      width: 32px;
      height: 32px;
    }

    div {
      font-weight: var(--font-weight-medium);
      font-size: 24px;
    }
  }

  &__link {
    color: var(--color-white-contrast);
    display: inline-block;
    font-size: var(--font-size-base);
    cursor: pointer;
    border-bottom: 1px solid transparent;

    @media (max-width: 1023px) {
      font-size: var(--font-size-sm);
    }

    &.--underline-on-hover {
      &:hover {
        border-bottom: 1px solid var(--color-white-contrast);
      }
    }

    &.--contrast-on-hover {
      @media (hover: hover) {
        &:hover {
          color: var(--color-white-contrast);
        }
      }
    }

    &.--user-select-none {
      user-select: none;
    }

    &.--underline {
      border-bottom: 1px solid var(--color-white-contrast);
    }

    &.--secondary {
      color: var(--color-secondary);
      font-size: var(--font-size-sm);
    }
  }

  &__text {
    font-size: var(--font-size-sm);
    color: var(--color-secondary);
    line-height: 1.2;

    span {
      display: block;
      line-height: 1.2;
    }

    &.--center {
      text-align: center;
    }

    &.--primary {
      font-size: var(--font-size-base);
      color: var(--color-white-contrast);
    }

    &.--small {
      font-size: var(--font-size-xs);
    }

    &.--no-wrap {
      white-space: nowrap;
    }
  }

  &__phones {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 1023px) {
      flex-direction: row;
      margin-top: 24px;
      gap: 24px;
    }
  }

  &__phone {
    div {
      color: var(--color-secondary);
      font-size: var(--font-size-sm);
      margin-top: 4px;
    }
  }

  &__metro {
    display: inline-flex;
    gap: 12px;

    svg {
      width: 32px;
      height: 32px;
    }

    > div > span {
      display: block;
      font-size: var(--font-size-sm);
      line-height: 1.2;
    }
  }

  &__column {

    &.--center {
      text-align: center;
    }

    &.--logo {
      > div:nth-child(2) {
        margin-top: 12px;
      }

      > div:nth-child(3) {
        margin-top: 53px;
      }
    }

    &.--contacts {

      @media (max-width: 1023px) {
        margin-top: 24px;
      }

      > div:nth-child(2) {
        margin-top: 35px;
      }

      > div:nth-child(3) {
        margin-top: 16px;
      }
    }

    &.--address {

      @media (max-width: 1023px) {
        margin-top: 36px;
      }

      > div:nth-child(2) {
        margin-top: 4px;
      }

      > div:nth-child(3) {
        margin-top: 24px;

        @media (max-width: 1023px) {
          margin-top: 16px;
        }
      }
    }

    &.--contacts-and-social {
      > div {
        &:first-child {
          margin-top: 36px;
        }

        &:last-child {
          margin-top: 24px;
        }
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 1023px) {
      flex-direction: row;
      gap: 24px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-top: 24px;
    row-gap: 24px;
  }
}