.hero {
  margin: 100px auto 0 auto;
  max-width: var(--max-width);
  padding: 0 48px;
  
  @media (max-width: 1023px) {
    margin: 80px auto 0 auto;
    padding: 0 12px;
  }

  &__container {
    border-radius: 32px;
    display: flex;
    gap: 24px;
    flex-direction: row;

    @media (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__left {
    width: 50%;
    border-radius: 48px;
    background-color: var(--color-white);
    padding: 48px;

    @media (max-width: 1023px) {
      border-radius: 24px;
      width: 100%;
      padding: 16px;
    }
  }

  &__right {
    width: 50%;
    background-image: url('/img/hero/gradient.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 48px;
    padding: 24px 12px;
    display: flex;

    @media (max-width: 1023px) {
      width: 100%;
      border-radius: 24px;
      padding: 8px;
    }
  }

  h1 {
    margin-top: 24px;
    color: var(--color-primary);
    font-size: var(--font-size-6xl);
    font-weight: var(--font-weight-semi-bold);

    @media (max-width: 1023px) {
      font-size: var(--font-size-3xl);
      margin-top: 16px;
    }

    span {
      display: block;
      line-height: 96%;
      white-space: nowrap;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 32px;
    overflow: hidden;

    @media (max-width: 1023px) {
      margin-top: 24px;
      flex-wrap: nowrap;
    }

    div {
      background: var(--color-light-grey);
      border-radius: 12px;
      color: var(--color-tertiary);
      display: inline-block;
      font-size: var(--font-size-md);
      padding: 16px;
      white-space: nowrap;

      @media (max-width: 1023px) {
        font-size: var(--font-size-sm);
        padding: 13px;
      }

      &.--accent {
        background: var(--color-tertiary);
        color: var(--color-white-contrast);
      }
    }
  }

  &__cup {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    padding: 6px 18px 6px 6px;
    background: var(--color-light-grey);
    border-radius: 12px;
    gap: 16px;

    img:first-child {
      width: 64px;
      aspect-ratio: 1/1;

      @media (max-width: 1023px) {
        width: 40px;
      }
    }

    div:last-child {
      font-size: var(--font-size-lg);
      color: var(--color-primary);

      @media (max-width: 1023px) {
        font-size: var(--font-size-sm);
      }
    }
  }

  &__form {
    background-color: rgba(255, 255, 255, .28);
    width: 100%;
    padding: 48px;
    border: 1px solid rgba(255, 255, 255, .32);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 1023px) {
      padding: 32px 12px 12px 12px;
      border-radius: 24px;
    }
  }

  h2 {
    text-align: center;
    color: var(--color-white);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semi-bold);

    @media (max-width: 1023px) {
      font-size: var(--font-size-base);
    }
  }

  &__clients {
    display: flex;
    margin-top: 32px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;

    @media (max-width: 1023px) {
      margin-top: 16px;
      row-gap: 4px;
      column-gap: 4px;
    }

    img {
      height: 48px;

      @media (max-width: 1023px) {
        height: 36px;
      }
    }
  }

  &__button-container {
    display: flex;
    gap: 4px;
    transition: all .3s var(--default-transition-timing-function);

    @media (max-width: 1349px) {
      margin-top: 34px;
    }

    @media (max-width: 1023px) {
      margin-top: 16px;
      width: 100%;
    }

    .btn {
      transition: all .3s var(--default-transition-timing-function);
      transform: none;
      overflow: hidden;

      &:first-child {
        width: 100%;

        @media (max-width: 1350px) {
          font-size: var(--font-size-md);
        }

        @media (max-width: 1023px) {
          padding: 24px 16px;
          width: 100%;
          font-size: var(--font-size-sm);
        }
      }

      &:last-child {
        @media (max-width: 1023px) {
          display: none;
        }

        svg:last-child {
          position: absolute;
          transform: translateX(-48px);
        }
      }

      svg {
        transition: all .3s var(--default-transition-timing-function);
      }
    }

    &:hover {
      gap: 7px;

      .btn {
        transform: scale(101%);

        &:last-child {
          svg:first-child {
            transform: translateX(48px);
          }
          svg:last-child {
            transform: translateX(0);
          }
        }
      }
    }
  }

  &__gift {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    padding: 32px;
    border-radius: 36px;
    background-image: url('/img/hero/gift-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white-contrast);
    flex-direction: row;

    @media (max-width: 1023px) {
      flex-direction: column;
      border-radius: 24px;
      background-image: url('/img/hero/gift-bg-mobile.jpg');
    }

    > div {
      width: 50%;

      @media (max-width: 1023px) {
        width: 100%;
      }

      &:last-child {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: end;
        color: var(--color-error);

        @media (max-width: 1023px) {
          align-items: start;
          margin-top: 32px;
        }

        > .btn {
          @media (max-width: 1023px) {
            width: 100%;
            margin-bottom: 100px;
          }
        }

        > div:first-child {
          width: 304px;
          text-align: center;

          @media (max-width: 1023px) {
            text-align: left;
          }
        }
      }
    }

    button {
      width: 304px;
    }
  }

  &__gift-text {
    font-size: var(--font-size-lg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    div {
      &:last-child {
        margin-top: 32px;
        font-size: var(--font-size-base);
      }
    }
  }
}