.hero {
  max-width: var(--max-width);
  margin: 16px auto 0 auto;

  &__container {
    display: flex;
    margin-top: 16px;
    width: 100%;
  }

  &__left {
    flex: 1;
    display: inline-block;
    padding: 48px;
    background: var(--color-white);
    border-radius: 48px;

    h1 {
      font-size: 68px;
      font-weight: var(--font-weight-semi-bold);
      color: var(--color-primary);

      span {
        display: block;
      }
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 52px;
    gap: 8px;

    div {
      font-size: var(--font-size-md);
      color: var(--color-tertiary);
      display: inline-block;
      background: var(--color-light-grey);
      padding: 16px;
      border-radius: 12px;
      white-space: nowrap;
    }
  }

  &__right {
    flex: 1;
    margin-left: 24px;
    display: inline-block;
    padding: 48px;
    background: var(--color-white);
    border-radius: 48px;
  }

  &__button-container {
    display: flex;
    gap: 4px;
    margin-top: 52px;

    .btn {
      font-size: var(--font-size-lg);
      padding: 24px;
    }

    .btn:first-child {
      flex-grow: 1;
    }
  }
}