.reviews {
  margin-top: 140px;
  opacity: 0;
  height: 608px;
  scroll-margin-block-start: 140px;

  @media (max-width: 767px) {
    margin-top: 80px;
    scroll-margin-block-start: 80px;
  }

  &.--ready {
    opacity: 1;
  }

  h2 {
    font-size: var(--font-size-5xl);
    font-weight: var(--font-weight-semi-bold);
    color: var(--color-primary);
    text-align: center;

    @media (max-width: 767px) {
      font-size: var(--font-size-2xl);
    }
  }

  &__container {
    overflow-x: hidden;
    max-width: 100%;
  }

  &__slider-container {
    overflow-x: hidden;
    height: 608px;

    @media (max-width: 767px) {
      width: auto;
    }
  }

  &__video-container {
    width: 100%;
    position: absolute;
    bottom: 24px;
    left: 0;
    display: flex;
    padding: 0 24px;
    justify-content: space-between;
  }

  &__slider {
    margin-top: 48px;
    height: 405px;

    @media (max-width: 767px) {
      margin-top: 24px;
    }
  }

  &__review {
    border-radius: 24px;
    width: 318px;
    height: 405px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    @media (max-width: 767px) {
      width: auto;
    }

    &.--active {
      img {
        width: 48px;
        border-radius: 8px;

        @media (max-width: 767px) {
          width: 72px;
          border-radius: 12px;
        }
      }

      .reviews__review-overlay {
        opacity: 0;
      }
    }
  }

  &__review-content {
    width: 100%;
    height: 100%;
    padding: 24px 16px 24px 24px;
    background-color: var(--color-white);
  }

  &__review-text-container {
    margin-top: 24px;

    > div:first-child {
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-medium);
      color: var(--color-primary);
    }

    > div:nth-child(2) {
      font-size: var(--font-size-base);
      margin: 6px 0 16px 0;
      color: var(--color-primary);
    }
  }

  &__review-text {
    font-size: var(--font-size-base);
    color: var(--color-secondary);
    line-height: 1.2;
    padding-right: 12px;
    padding-bottom: 8px;
  }

  &__review-header {
    display: flex;
    justify-content: space-between;
    padding-right: 8px;

    > *:first-child {
      aspect-ratio: 1 / 1;
      width: 100px;
      transition: width .3s ease-in-out, border-radius .3s ease-in-out;
      border-radius: 16px;
      object-fit: cover;
    }

    .tag {
      svg {
        color: white;
      }
    }
  }

  &__footer {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div:first-child, > div:last-child {
      display: block;

      @media (max-width: 767px) {
        display: none;
      }
    }

    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  &__controls {
    display: inline-flex;
    gap: 16px;

    > div {
      background-color: var(--color-quaternary);
      border-radius: 8px;
      padding: 12px;
      cursor: pointer;
      user-select: none;
      transition: all .3s var(--default-transition-timing-function);

      @media (hover: hover) {
        &:hover {
          transform: scale(102%);
        }
      }

      &.--disabled {
        background-color: #e8eef4;

        svg {
          color: #a0a5ae;
        }
      }

      svg {
        color: var(--color-primary);
        width: 24px;
        height: 24px;
      }
    }
  }

  &__review-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    background: linear-gradient(180deg, transparent 0%, #FFFFFF 100%);
    height: 48px;
    opacity: 1;
    transition: .3s opacity ease-in-out;
  }

  &__review-scrollbar {
    height: 240px;

    @media (max-width: 767px) {
      height: 215px;
    }

    .os-scrollbar {
      padding-bottom: 10px;
    }

    .os-scrollbar-track {
      background-color: var(--color-light-grey);
    }

    .os-scrollbar-vertical {
      width: 8px;
    }

    .os-scrollbar-handle {
      background-color: var(--color-contrast);
    }

    .os-scrollbar-vertical .os-scrollbar-handle {
      max-height: 120px;
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__video-controls {
    background: rgba(255, 255, 255, .24);
    padding: 16px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-sm);
    color: var(--color-white-contrast);
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .16);
    pointer-events: none;
  }

  &__video-info {
    font-size: var(--font-size-sm);
    color: var(--color-white-contrast);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    opacity: 0;
    height: 0;
    width: 0;

    &.--playing {
      opacity: 1;
      height: auto;
      width: auto;
    }

    > div {
      white-space: nowrap;
    }
  }

  &__video-timeline {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--color-contrast);
    position: absolute;
    bottom: 0;
    left: -100%;
    transform: translateX(0);
    will-change: transform;
    transition: transform .5s linear;
  }
}