.sharing-experience {
  margin: 140px auto 0 auto;
  max-width: var(--max-width);
  padding: 0 48px;

  @media (max-width: 1023px) {
    margin: 80px auto 0 auto;
    padding: 0 12px;
  }

  &__container {
    border-radius: 32px;
    color: var(--color-white-contrast);
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    justify-content: center;
    gap: 48px;
    position: relative;

    @media (max-width: 1023px) {
      margin-top: 24px;
    }

    .btn {
      margin-top: 36px;
      width: 304px;

      @media (max-width: 1023px) {
        margin-top: 32px;
      }
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    padding: 78px 0 142px 0;
    border-radius: 32px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

    @media (max-width: 1023px) {
      padding: 64px 24px 100px 24px;
      border-radius: 24px;
    }

    &.--active {
      opacity: 1;
      z-index: 1;
    }
  }

  &__article-background {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &__slider {
    height: 16px;
    display: inline-flex;
    gap: 8px;
    bottom: 78px;
    position: absolute;
    z-index: 1;

    @media (max-width: 1023px) {
      bottom: 64px;
    }
  }

  &__slider-point {
    background: rgba(255, 255, 255, .24);
    height: 16px;
    width: 16px;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(255, 255, 255, .16);
    transition: width 1s ease-in-out;
    will-change: width;

    @media (max-width: 1023px) {
      height: 14px;
      width: 14px;
    }

    &.--active {
      width: 120px;

      .sharing-experience__slider-point-timeline {
        display: block;
      }
    }
  }

  &__slider-point-timeline {
    display: none;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    height: 14px;
    width: 100%;
    transform: translateX(-100%);
    animation-name: filling-timeline;
    animation-play-state: paused;
    animation-timing-function: linear;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    will-change: transform;

    @media (max-width: 1023px) {
      height: 12px;
    }

    &.--animation-is-active {
      animation-play-state: running;
    }
  }

  h2 {
    text-align: center;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-5xl);
    color: var(--color-primary);

    @media (max-width: 1349px) {
      font-size: var(--font-size-4xl);
    }

    @media (max-width: 1023px) {
      font-size: var(--font-size-2xl);
    }
  }

  h3 {
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-3xl);
    text-align: center;

    @media (max-width: 1023px) {
      font-size: var(--font-size-lg-xl);
    }

    span {
      display: block;
    }
  }

  &__subtitle {
    text-align: center;
    margin-top: 16px;
    font-size: var(--font-size-lg);
    color: var(--color-secondary);

    @media (max-width: 1023px) {
      font-size: var(--font-size-sm);
      color: var(--color-primary);
      margin-top: 12px;
    }

    span {
      line-height: 1.2;
      display: block;

      @media (max-width: 767px) {
        display: inline;
      }
    }
  }

  &__articles {
    width: 100%;
    height: 100%;
    display: grid;
  }

  &__article-subtitle {
    font-size: var(--font-size-md);
    text-align: center;
    color: var(--color-white-contrast);
    margin-top: 8px;
    max-width: 700px;

    @media (max-width: 1023px) {
      font-size: var(--font-size-base);
      margin-top: 12px;
    }
  }
}