.when-need-reputation {
  position: relative;
  max-width: var(--max-width);
  margin: 43px auto 0 auto;
  height: 582px;
  background: transparent;
  border-radius: 0;
  padding: 0;

  @media (max-width: 1023px) {
    margin: 80px auto 0 auto;
    padding: 0 12px;
    height: auto;
  }

  &__container {
    height: 100%;
    overflow: hidden;

    @media (max-width: 1023px) {
      padding: 32px 24px;
      border-radius: 24px;
      background: url("/img/when-need-reputation-circles.png"), var(--color-white);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  h2 {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--color-primary);
    margin-top: 211px;
    z-index: 1;
    font-weight: var(--font-weight-semi-bold);

    @media (max-width: 1023px) {
      font-size: var(--font-size-2xl);
      margin-top: 0;
      position: static;
    }

    span {
      line-height: 1.1;
      display: block;
    }
  }

  &__circles {
    position: relative;
    display: block;

    @media (max-width: 1023px) {
      display: none;
    }

    div {
      aspect-ratio: 1 / 1;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;

      &:first-child {
        width: 230px;
        background: var(--color-white);
        top: 155px;
      }

      &:nth-child(2) {
        width: 400px;
        border: 2px solid var(--color-white);
        top: 70px;
      }

      &:last-child {
        width: 540px;
        border: 2px solid var(--color-white);
        top: 0;
      }
    }
  }

  &__points {
    position: relative;
    z-index: 1;
    height: 100%;
    margin-top: 0;
    display: block;

    @media (max-width: 1023px) {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 12px;
      height: auto;
    }
  }

  &__point {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0;

    @media (max-width: 1023px) {
      flex-direction: row-reverse;
      gap: 4px;
    }

    @media (max-width: 1023px) {
      position: static;
    }

    &.--reverse {
      flex-direction: row-reverse;

      div:first-child {
        margin-left: 8px;

        @media (max-width: 1023px) {
          margin-left: 0;
        }
      }

      div:last-child {
        margin-left: 0;
      }
    }

    &:nth-child(1) {
      transform: translate(-439px, -185px);

      @media (max-width: 1023px) {
        transform: none;
      }

      div:last-child {
        background-color: var(--color-contrast);
      }
    }

    &:nth-child(2) {
      transform: translate(113px, -170px);

      @media (max-width: 1023px) {
        transform: none;
      }

      div:last-child {
        background-color: var(--color-accent-dark);
      }
    }

    &:nth-child(3) {
      transform: translate(115px, 84px);

      @media (max-width: 1023px) {
        transform: none;
      }

      div:last-child {
        background-color: var(--color-contrast-tint);
      }
    }

    &:nth-child(4) {
      transform: translate(-625px, 105px);

      @media (max-width: 1023px) {
        transform: none;
      }

      div:last-child {
        background-color: var(--color-accent-blue);
      }
    }

    &:nth-child(5) {
      transform: translate(-92px, 219px);

      @media (max-width: 1023px) {
        transform: none;
      }

      div:last-child {
        background-color: var(--color-primary);
      }
    }

    > div {
      display: inline-block;
      padding: 24px;
      border-radius: 100px;

      @media (max-width: 1023px) {
        padding: 12px;
      }

      &:first-child {
        color: var(--color-primary);
        font-size: var(--font-size-md);
        background: var(--color-white);
        line-height: 1;

        @media (max-width: 1023px) {
          background: var(--color-light-grey);
          padding: 13px;
          font-size: 13px;
          line-height: 1.1;
        }
      }

      &:last-child {
        margin-left: 8px;

        @media (max-width: 1023px) {
          margin-left: 0;
        }

        svg {
          color: var(--color-white-contrast);
          width: 24px;
          height: 24px;

          @media (max-width: 1023px) {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}