.why-manage-reputation {
  position: relative;
  max-width: var(--max-width);
  margin: 140px auto 0 auto;
  padding: 0 48px;

  @media (max-width: 767px) {
    margin: 80px auto 0 auto;
    padding: 0 12px;
  }

  &__container {
    background: var(--background-light-grey);
    padding: 78px 24px;
    border-radius: 32px;

    @media (max-width: 767px) {
      padding: 36px 16px;
      border-radius: 24px;
    }
  }

  .tag-with-label {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  h2 {
    text-align: center;
    font-size: var(--font-size-5xl);
    font-weight: var(--font-weight-semi-bold);
    color: var(--color-primary);

    @media (max-width: 767px) {
      font-size: var(--font-size-2xl);
    }
  }

  &__line {
    display: flex;
    gap: 24px;
    border-radius: 24px;
    margin-top: 48px;
    flex-direction: row;

    @media (max-width: 767px) {
      flex-direction: column;
      margin-top: 24px;
    }

    > div {
      flex: 1;
    }
  }

  &__block {
    border-radius: 24px;
    padding: 48px;

    @media (max-width: 767px) {
      border-radius: 16px;
      padding: 16px;
    }

    &.--left {
      position: relative;
      background: var(--color-white);
      overflow-y: hidden;

      img {
        position: absolute;
        top: 0;
        right: 0;

        &:nth-child(1) {
          width: 294px;
          height: 257px;
          
          @media (min-width: 1024px ) and (max-width: 1650px) {
            width: clamp(147px, 23.482vw - 93.456px, 294px);
            height: clamp(128.5px, 20.607vw - 83.008px, 257px);
          }

          @media (max-width: 767px) {
            display: none;
          }
        }

        &:nth-child(2) {
          top: 57px;
          right: 0;
        }
      }

      p {
        &:nth-child(3) {
          color: var(--color-secondary);
          font-size: var(--font-size-lg);
          position: relative;

          @media (max-width: 767px) {
            font-size: var(--font-size-base);
          }

          span {
            line-height: 1.2;
            display: block;
          }
        }

        &:last-child {
          margin-top: 55px;
          font-size: var(--font-size-3xl);
          color: var(--color-primary);
          font-weight: var(--font-weight-medium);
          letter-spacing: normal;
          position: relative;

          @media (max-width: 767px) {
            margin-top: 48px;
            font-size: var(--font-size-lg-xl);
            letter-spacing: -1px;
          }

          > span {
            line-height: 1.1;
            display: block;

            span {
              color: black;
            }
          }
        }
      }
    }

    &.--right {
      overflow-y: hidden;
      padding: 48px;
      background: var(--color-accent-dark);
      position: relative;

      @media (max-width: 767px) {
        padding: 16px;
      }

      p:nth-child(3) {
        font-weight: var(--font-weight-medium);
        color: var(--color-white-contrast);
        font-size: var(--font-size-3xl);

        @media (max-width: 767px) {
          font-size: var(--font-size-lg-xl);
        }

        span {
          display: block;
          line-height: 1.1;
        }
      }

      &.--intersection {
        .why-manage-reputation__card-rating div {
          &:first-child {
            opacity: 0;
          }

          &:last-child {
            opacity: 1;
          }
        }

        .why-manage-reputation__card-review-count div {
          &:first-child {
            opacity: 0;
          }

          &:last-child {
            opacity: 1;
          }
        }

        .why-manage-reputation__card-icon svg {
          &:last-child {
            opacity: 1;
          }
        }
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          .why-manage-reputation__card-rating div {
            &:first-child {
              opacity: 0;
            }

            &:last-child {
              opacity: 1;
            }
          }

          .why-manage-reputation__card-review-count div {
            &:first-child {
              opacity: 0;
            }

            &:last-child {
              opacity: 1;
            }
          }

          .why-manage-reputation__card-icon svg {
            &:last-child {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__blur {
    position: absolute;
    bottom: 0;
    width: calc(100% - 48px);
    z-index: 1;
    height: 117px;
    background: linear-gradient(180deg, rgba(29, 33, 40, 0) 0%, rgba(29, 33, 40, 0.7728) 100%);

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__equal-sign {
    position: absolute;
    top: 48px;
    right: 48px;
    height: 72px;
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    opacity: 1;

    @media (max-width: 767px) {
      width: 73px;
      top: 16px;
      right: 16px;
      height: 44px;
      gap: 10px
    }

    div {
      height: 36px;
      width: 100%;
      border-radius: 100px;
      opacity: 0.16;
      background: linear-gradient(249.08deg, #FBFBFB -0.55%, rgba(251, 251, 251, 0) 99.96%);
    }
  }

  &__cards {
    margin-top: -12px;
    display: flex;
    gap: 9px;
    transform: translateY(60px);

    @media (max-width: 767px) {
      margin-top: 24px;
      transform: none;
      gap: 4px;
    }

    > div {
      border-radius: 16px;
      flex: 1;
      background: var(--color-white);
      padding: 24px;
      display: block;
      height: auto;

      @media (max-width: 767px) {
        padding: 12px;
        border-radius: 8px;
      }

      img {
        display: block;
        width: auto;
        transform: none;
        position: static;

        @media (max-width: 767px) {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
        }
      }
    }
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;

    @media (max-width: 767px) {
      height: 69px;
    }
  }

  &__card-img-container {
    width: auto;
    height: auto;
    margin-top: 20px;
    position: relative;

    @media (max-width: 767px) {
      margin-top: 0;
      height: 23px;
    }
  }

  &__card-icon {
    position: relative;
    right: 0;
    z-index: 1;

    svg {
      width: 48px;
      height: 48px;
      position: absolute;
      top: -52px;
      right: 0;
      transition: .5s opacity ;

      @media (max-width: 767px) {
        width: 36px;
        height: 36px;
        top: -32px;
        right: -6px;
      }

      &:first-child {
        opacity: 1;
        z-index: 1;
      }

      &:last-child {
        opacity: 0;
        z-index: 2;
      }
    }
  }

  &__card-review-count {
    position: relative;
    color: var(--color-primary);
    font-size: var(--font-size-sm);
    margin-top: 20px;
    width: 100%;
    height: 15px;

    @media (max-width: 767px) {
      font-size: var(--font-size-xxxs);
      margin-top: 0;
      height: 7px;
    }

    div {
      transition: opacity .2s ease-in-out;
      position: absolute;
      top: 0;

      &:first-child {
        opacity: 1;
      }

      &:last-child {
        opacity: 0;
      }
    }
  }

  &__card-rating {
    display: inline-block;
    line-height: 100%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-white-contrast);
    position: relative;
    height: 50px;
    width: 66px;

    @media (max-width: 767px) {
      font-size: var(--font-size-xs);
      height: 26px;
      width: 34px;
    }

    div {
      position: absolute;
      padding: 16px;
      border-radius: 12px;
      transition: opacity .4s ease-in-out;

      @media (max-width: 767px) {
        padding: 8px;
        border-radius: 6px;
      }

      &:first-child {
        opacity: 1;
        background: #ea4335;
      }

      &:last-child {
        opacity: 0;
        position: absolute;
        background: #afc676;
      }
    }

    &.--positive {
      position: absolute;
      background: #AFC676;
    }
  }

  &__bottom-cards {
    display: flex;
    gap: 24px;
    margin-top: 24px;

    @media (max-width: 767px) {
      display: none;
    }

    &.--mobile {
      display: none;

      @media (max-width: 767px) {
        display: block;

        swiper-container, swiper-slide {
          border-radius: 16px 0 0 16px;
          overflow: hidden;
        }

        swiper-container {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  &__bottom-card {
    border-radius: 24px;
    background: var(--color-white);
    color: var(--color-contrast);
    padding: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 767px) {
      border-radius: 16px;
      padding: 16px;
    }

    > div {
      font-size: var(--font-size-4xl);
      font-family: var(--font-family-evolventa);
      font-weight: var(--font-weight-bold);

      @media (max-width: 767px) {
        font-size: 44px;
      }
    }

    > p {
      margin-top: 32px;
      font-size: var(--font-size-md);
      color: var(--color-secondary);

      @media (max-width: 767px) {
        font-size: var(--font-size-base);
      }

      span {
        line-height: 1.1;
        display: block;
      }
    }

    &.--alternative {
      background-image: url("/img/why-manage-reputation-alternative-bottom-card-background.png");
      background-repeat: no-repeat;
      background-size: cover;
      color: var(--color-white-contrast);

      > p {
        color: var(--color-white-contrast);
      }
    }
  }

  &__description {
    font-size: var(--font-size-sm);
    color: var(--color-secondary);
    margin-top: 24px;
    text-align: center;
    
    @media (max-width: 767px) {
      font-size: var(--font-size-xs);
    }
  }

  &__swiper-custom-pagination {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 8px;

    div {
      height: 8px;
      aspect-ratio: 1 / 1;
      background-color: var(--color-light-grey);
      border-radius: 50%;
      transition: .1s background-color var(--default-transition-timing-function);

      &.--active {
        background-color: var(--color-primary);
      }
    }
  }
}