@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes moveInCircle {
  0%, 100% {
    transform: translate(0) translateY(40%);
  }
  25% {
    transform: translate(-40%) translateY(0);
  }
  50% {
    transform: translate(30%) translateY(-30%);
  }
}

@keyframes moveVertical {
  0%, 100% {
    transform: translate(0) translateY(0);
  }
  50% {
    transform: translateY(-10%) translate(50%);
  }
}

@keyframes spin-1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-2 {
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(420deg);
  }
}

@keyframes spin-3 {
  0% {
    transform: rotate(-194deg);
  }
  100% {
    transform: rotate(166deg);
  }
}

@keyframes spin-4 {
  0% {
    transform: rotate(200deg);
  }
  100% {
    transform: rotate(560deg);
  }
}

@keyframes filling-timeline {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* components/Menu.vue */
.menu-contact-us-fade-in {
  &-enter-active, &-leave-active {
    transition: all .1s ease-out;
  }
  &-enter-from, &-leave-to {
    opacity: 0;
    transform: rotateX(-30deg) scale(.9);
  }
}

/* components/sections/Cases.vue */
.cases-slide-fade {
  &-enter-active, &-leave-active {
    transition: all 0.5s ease-out;
  }
  &-enter-from {
    transform: translateX(100%);
    opacity: 0;
  }
  &-leave-to {
    transform: translateX(-100%);
    opacity: 0;
  }
}