@use 'variables';
@use 'fonts';
@use 'buttons';
@use 'links';
@use 'tags';
@use 'menu';
@use 'to-top';
@use 'animations';
@use 'modal';
@use 'form/inputs';
@use 'form/checkboxes';
@use 'form/file-inputs';
@use 'form/processing-personal-data-agree';

/* plugins and libraries */
@use 'third-party/izi-toast';
@use 'third-party/custom-scroll';

/* sections */
@use 'sections/hero';
@use 'sections/why-manage-reputation';
@use 'sections/when-need-reputation';
@use 'sections/our-services';
@use 'sections/solve-problems';
@use 'sections/our-achievements';
@use 'sections/team';
@use 'sections/reviews';
@use 'sections/talk-about-us';
@use 'sections/sharing-experience';
@use 'sections/contact-form';
@use 'sections/contact-form-alt';
@use 'sections/cases';
@use 'sections/faq';
@use 'sections/footer';

/* imports */
@import 'overlayscrollbars/styles/overlayscrollbars.css';

* {
  box-sizing: border-box;
  font-family: Involve, serif;
  line-height: 1;

  &:focus-visible {
    outline: 1px solid var(--color-contrast);
  }
}

button {
  border: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

svg {
  vertical-align: middle;
}

body {
  background: var(--body-background-color);
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
}