@use 'variables';
@use 'fonts';
@use 'buttons';
@use 'tags';
@use 'menu';
@use 'animations';

/* sections */
@use 'sections/hero';
@use 'sections/why-manage-reputation';

* {
  box-sizing: border-box;
  font-family: Involve, serif;
  line-height: 1;
}

p {
  margin: 0;
}

h1, h2 {
  margin: 0;
}

svg {
  vertical-align: middle;
}

body {
  background: var(--body-background-color);
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
}