.btn {
  padding: 16px;
  cursor: pointer;
  font-size: var(--font-size-base);
  background: var(--color-contrast);
  color: var(--color-white-contrast);
  font-weight: var(--font-weight-medium);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  text-align: center;
  user-select: none;
  transition: all .3s ease-in-out;
  position: relative;
  line-height: 1.2;
  align-items: center;

  @media (max-width: 1023px) {
    font-size: var(--font-size-sm);
    padding: 13px;
  }

  &:active {
    top: 1px;
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(102%);
    }
  }

  > div {
    line-height: 1.2;
  }

  svg {
    width: 24px;
    height: 24px;
  }

  &.--no-wrap {
    white-space: nowrap;
  }

  &.--rounded {
    border-radius: 100px;
  }

  &.--secondary {
    color: var(--color-white-contrast);
    background-color: var(--color-secondary);
  }

  &.--tertiary {
    background-color: var(--color-primary);
    color: var(--color-white-contrast);
  }

  &.--quaternary {
    color: var(--color-primary);
    background-color: var(--color-light-grey);
  }

  &.--white {
    color: var(--color-primary);
    background-color: var(--color-white-contrast);
  }

  &.--large {
    padding: 24px;
    font-size: var(--font-size-lg);
    line-height: 1.2;

    @media (max-width: 1023px) {
      font-size: var(--font-size-base);
      line-height: 1.5;
    }
  }

  &.--type-grey {
    color: var(--color-primary);
    border: 2px solid var(--color-light-grey);
    background: var(--color-white);
    font-weight: var(--font-weight-normal);

    @media (max-width: 1023px) {
      padding: 10px;
    }

    &:hover {
      color: var(--color-contrast);
      transform: none;
    }
    
    svg {
      @media (max-width: 1023px) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &.--type-search {
    color: var(--color-contrast);
    border: 2px solid var(--color-light-grey);
    background: var(--color-white);
    font-weight: var(--font-weight-normal);
    padding: 12px;

    @media (max-width: 1023px) {
      padding: 10px;
    }

    svg {
      width: 24px;
      height: 24px;

      @media (max-width: 1023px) {
        width: 20px;
        height: 20px;
      }
    }
  }
}