.btn {
  padding: 1rem;
  transition: var(--base-transition);
  cursor: pointer;
  font-size: var(--font-size-base);
  background: var(--color-contrast);
  color: var(--color-white-contrast);
  font-weight: var(--font-weight-medium);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.75rem;
  text-align: center;

  > div {
    line-height: 1.2;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.--rounded {
    border-radius: 6.25rem;
  }

  &.--secondary {
    color: var(--color-white-contrast);
    background-color: var(--color-secondary);
  }

  &.--tertiary {
    background-color: var(--color-primary);
    color: var(--color-white-contrast);
  }

  &.--quaternary {
    color: var(--color-primary);
    background-color: var(--color-light-grey);
  }

  &.--white {
    color: var(--color-primary);
    background-color: var(--color-white-contrast);
  }

  &.--large {
    padding: 1.5rem;
    font-size: var(--font-size-lg);
  }

  &.--type-grey {
    color: var(--color-primary);
    border: 2px solid var(--color-light-grey);
    background: var(--color-white);
    font-weight: var(--font-weight-normal);

    &:hover {
      color: var(--color-contrast);
    }
  }

  &.--type-search {
    color: var(--color-contrast);
    border: 2px solid var(--color-light-grey);
    background: var(--color-white);
    font-weight: var(--font-weight-normal);
    padding: 0.75rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}