.link {
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-lg);

  span:first-child {
    border-bottom: 2px solid var(--color-primary);
  }

  svg {
    margin-left: 8px;
    width: 24px;
    height: 24px;
    color: var(--color-primary);
  }
}