.link {
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-lg);
  transition: all .3s var(--default-transition-timing-function);

  @media (max-width: 1023px) {
    font-size: var(--font-size-base);
  }

  &.--white {
    color: var(--color-white);

    span:first-child {
      border-bottom: 2px solid var(--color-white);

      @media (max-width: 1023px) {
        border-bottom: 1px solid var(--color-white);
      }
    }

    svg {
      color: var(--color-white-contrast);
    }
  }

  &.--contrast-on-hover {
    @media (hover: hover) {
      &:hover {
        color: var(--color-contrast);

        span:first-child {
          border-bottom: 2px solid var(--color-contrast);
        }

        svg {
          color: var(--color-contrast);
        }
      }
    }
  }

  span:first-child {
    transition: all .3s var(--default-transition-timing-function);
    border-bottom: 2px solid var(--color-primary);

    @media (max-width: 1023px) {
      border-bottom: 1px solid var(--color-primary);
    }
  }

  svg {
    margin-left: 8px;
    width: 24px;
    height: 24px;
    color: var(--color-primary);
    transition: all .3s var(--default-transition-timing-function);

    @media (max-width: 1023px) {
      width: 16px;
      height: 16px;
    }
  }
}