.menu {
  background: var(--color-white);
  border-radius: 100px;
  display: flex;
  padding: 10px;
  justify-content: space-between;

  &__left {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;

    div:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;

      div {
        font-weight: var(--font-weight-medium);
        color: var(--color-contrast);
        font-size: var(--font-size-xl);
      }
    }
  }

  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__list {
    display: flex;
    gap: 32px;

    &-item {
      user-select: none;
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: var(--font-size-base);
      cursor: pointer;
      color: var(--color-primary);

      &:hover {
        color: var(--color-contrast);

        svg {
          color: var(--color-contrast);
        }
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__right {

    > div {
      &:nth-child(2) {
        margin-left: 4px;
      }
      &:last-child {
        margin-left: 12px;
      }
    }
  }
}