.menu {
  position: fixed;
  width: 100%;
  margin: 16px auto 0 auto;
  z-index: 2;

  &__container {
    max-width: var(--max-width);
    padding: 0 48px;
    margin: 0 auto;
  }

  &__flex {
    background: var(--color-white);
    border-radius: 100px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
    box-shadow: var(--menu-box-shadow);
  }

  &__left {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;

    div:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      white-space: nowrap;

      div {
        font-weight: var(--font-weight-medium);
        color: var(--color-contrast);
        font-size: var(--font-size-xl);
      }
    }
  }

  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__list {
    display: flex;
    gap: 32px;

    @media (min-width: 1024px) and (max-width: 1130px) {
      gap: 24px;
    }

    @media (min-width: 1130px) and (max-width: 1511px) {
      gap: clamp(16px, 4.188vw - 31.28px, 32px);
    }

    &-item {
      user-select: none;
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: var(--font-size-base);
      cursor: pointer;
      color: var(--color-primary);
      transition: transform .3s var(--default-transition-timing-function);
      position: relative;

      &.--cases {
        span {
          position: absolute;
          top: -10px;
          right: -14px;
          font-size: var(--font-size-xxs);
          font-weight: var(--font-weight-semi-bold);
          padding: 4px;
          color: var(--color-contrast);
          background: #ffe8d9;
          border-radius: 100px;
          height: 14px;
        }
      }

      @media (hover: hover) {
        &:hover {
          transform: scale(103%);
        }
      }

      > div {
        white-space: nowrap;
      }

      &:hover {
        color: var(--color-contrast);

        svg {
          color: var(--color-contrast);
        }
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__right {
    display: inline-flex;

    .btn.--rounded.--type-grey {
      @media (min-width: 1024px) and (max-width: 1130px) {
        display: none;
      }
    }
  }

  &__contact-us {
    position: absolute;
    padding: 24px;
    background: var(--color-white);
    border-radius: 16px;
    right: 0;
    z-index: 3;
    top: 83px;
    box-shadow: var(--menu-box-shadow);

    svg {
      cursor: pointer;
      width: 24px;
      height: 24px;
      user-select: none;
    }
  }

  &__contact-us-header {
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-md);
  }

  &__contact-us-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    &.--social {
      gap: 16px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__contact-us-phones {
    display: flex;
  }

  &__contact-us-phone {
    > div:first-child {
      font-weight: var(--font-weight-medium);
      color: var(--color-primary);
    }

    > div:last-child {
      margin-top: 4px;
      font-size: var(--font-size-sm);
      color: var(--color-secondary);
    }
  }

  &__contact-us-social-group {
    display: inline-flex;
    gap: 8px;
  }

  &__button-group {
    > .btn:last-child {
      margin-left: 12px;
    }
  }
}