.menu {
  background: var(--color-white);
  border-radius: 6.25rem;
  display: flex;
  padding: 0.625rem;
  justify-content: space-between;

  &__left {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    div:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;

      div {
        font-weight: var(--font-weight-medium);
        color: var(--color-contrast);
        font-size: var(--font-size-xl);
      }
    }
  }

  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__list {
    display: flex;
    gap: 2rem;

    &-item {
      user-select: none;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: var(--font-size-base);
      cursor: pointer;
      color: var(--color-primary);

      &:hover {
        color: var(--color-contrast);

        svg {
          color: var(--color-contrast);
        }
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &__right {

    > div {
      &:nth-child(2) {
        margin-left: 0.25rem;
      }
      &:last-child {
        margin-left: 0.75rem;
      }
    }
  }
}