.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    padding: 24px;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    background-color: var(--color-light-grey);
    padding: 4px 6px;
    cursor: pointer;

    svg {
      width: 12px;
      height: 12px;
      color: var(--color-primary);
      pointer-events: none;
    }
  }

  &__content {
    height: auto;
    width: 728px;
    max-width: 100%;
    padding: 48px;
    background-color: var(--color-white);
    border-radius: 24px;
    position: relative;
  }

  h4 {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-semi-bold);
    color: var(--color-primary);
  }
}

.modal-lead {
  .form {
    margin-top: 32px;

    > * {
      margin-top: 16px;
    }

    > .btn {
      margin-top: 32px;
      width: 100%;
    }

    > .processing-personal-data-agree {
      margin-top: 24px;
    }

    > .checkbox {
      margin-top: 20px;
    }

    &__group {
      display: flex;
      gap: 16px;

      > * {
        flex: 1;
      }
    }

    .input input {
      background-color: var(--color-modal-inputs-background);
      color: var(--color-primary);
      font-size: var(--font-size-base);

      &::placeholder {
        color: var(--color-secondary);
      }
    }
  }
}

.modal-thank-you {
 p {
   margin-top: 16px;
   font-size: var(--font-size-lg);
   color: var(--color-secondary);
 }

  .btn {
    margin-top: 48px;
    width: 100%;
  }
}