.tag-with-label {

  &.--alternative-rotate div:first-child {
    transform: translateX(6px) rotate(6deg);
  }

  &.--alternative-color {
    div:first-child {
      background: var(--color-accent-blue);
    }
  }

  div:first-child {
    display: inline-block;
    padding: 16px;
    color: var(--color-white-contrast);
    font-size: var(--font-size-sm);
    background: black;
    border-radius: 100px;
    font-weight: var(--font-weight-semi-bold);
    transform: translateX(6px) rotate(-6deg);
    line-height: 1.2;

    @media (max-width: 767px) {
      font-size: var(--font-size-xxs);
      padding: 11px;
      transform: translateX(4px) rotate(-6deg);
    }
  }

  div:last-child {
    display: inline-flex;
    background: var(--color-contrast);
    border-radius: 0 100px 100px 100px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    transform: translate(-6px, -7px);

    @media (max-width: 767px) {
      height: 36px;
      width: 36px;
      padding: 10px;
      transform: translate(-4px, -6px);
    }

    svg {
      color: white;
      width: 24px;
      height: 24px;

      @media (max-width: 767px) {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.tag {
  border-radius: 100px 100px 100px 0;
  padding: 12px;
  display: inline-block;
  height: 48px;

  @media (max-width: 767px) {
    padding: 10px;
    height: 36px;
  }

  &.--blue {
    background-color: var(--color-accent-blue);
  }

  &.--red {
    background-color: var(--color-contrast);
  }

  &.--black {
    background-color: var(--color-accent-dark);
  }

  svg {
    color: var(--color-white-contrast);
    width: 24px;
    height: 24px;
    
    @media (max-width: 767px) {
      width: 16px;
      height: 16px;
    }
  }
}

.tag-as-label {
  padding: 16px;
  color: var(--color-white-contrast);
  font-size: var(--font-size-sm);
  background: black;
  border-radius: 100px;
  font-weight: var(--font-weight-semi-bold);
  transform: rotate(-6deg);
  line-height: 1.2;

  &.--blue {
    background-color: var(--color-accent-blue);
  }
}