:root {
  --max-width: 1640px;
  --base-transition: color .5s ease;

  --color-contrast: #FE3E0E;
  --color-primary: #505662;
  --color-secondary: #8d919a;
  --color-tertiary: #ABB2C0;
  --color-light-grey: #f2f6f9;
  --color-white-contrast: #fbfbfb;
  --color-white: #fff;
  --color-accent-dark: #1D2128;
  --color-accent-blue: #91c9f6;
  --color-contrast-tint: #ff8e3e;
  --color-quaternary: #dee6ed;
  --color-dark: #2b313b;

  --background-light-grey: #e0eaf0;
  --body-background-color: var(--color-light-grey);

  --font-family-involve: Involve, sans-serif;
  --font-family-evolventa: Evolventa, sans-serif;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-3xl: 38px;
  --font-size-4xl: 52px;
  --font-size-5xl: 58px;
  --font-size-6xl: 68px;

  --font-weight-normal: normal;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;


  /**
  --font-size-xs: 0.75rem;   12px
  --font-size-lg: 1.25rem;   20px
  --font-size-2xl: 1.875rem; 30px
  --font-size-4xl: 3rem;     48px
  --font-size-5xl: 3.75rem;  60px
  */
}