.iziToast.izi-toast {
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  min-height: 40px;
  padding: 5px 0 4px 0;
  cursor: pointer;
  background: var(--color-white);

  @media (max-width: 767px) {
    border-radius: 0;
    padding: 8px 45px 9px 0;
  }

  &.--cookie {
    cursor: default;
    padding: 0;

    @media (max-width: 767px) {
      padding: 10px 0 0 0;

      .iziToast-title {
        text-align: center;
      }

      .iziToast-buttons {
        width: 100%;
        margin-top: 10px;
      }
    }

    .iziToast-buttons-child {
      outline: none;
      box-shadow: none;
      // border: 1px solid var(--color-white-contrast);
      border: none;
      border-radius: 8px;
      background: var(--color-primary);
      color: var(--color-white-contrast);
      font-weight: var(--font-weight-bold);
      padding: 12px;

      @media (max-width: 767px) {
        width: 100%;
      }

      &:hover {
        background: var(--color-primary);
      }
    }

    > .iziToast-body {
      display: flex;
      align-items: center;
      justify-content: start;
      margin: 0;
      flex-direction: row;
      padding: 6px 12px;

      @media (max-width: 767px) {
        justify-content: center;
        flex-direction: column;
        padding: 0 12px;
      }

      .iziToast-texts {
        margin: 0;
      }

      .iziToast-title > a {
        color: var(--color-secondary);
        border-bottom: 1px solid var(--color-secondary);

        &:hover {
          color: var(--color-tertiary);
          border-bottom: 1px solid var(--color-tertiary);
        }
      }
    }
  }

  &.--white {
    background: var(--color-white);

    >.iziToast-body {
      padding: 0 10px;
      margin: 0 15px;

      .iziToast-title {
        color: var(--color-primary);
      }
    }
  }

  >.iziToast-body {
    padding: 0 10px;
    margin: 0 15px;

    .iziToast-title {
      color: var(--color-secondary);
      font-weight: var(--font-weight-medium);
    }
  }

  .iziToast-close {
    display: none;
  }

  .iziToast-progressbar {
    width: calc(100% - 15px);
    left: 8px;
    background: transparent;

    @media (max-width: 767px) {
      width: 100%;
      left: 0;
    }
  }

  &:after {
    display: none;
  }
}