.input {
  position: relative;

  &.--light {
    input {
      border: 1px solid var(--color-inputs-border-light);
      background-color: var(--color-modal-inputs-background);
      color: var(--color-primary);

      &::placeholder {
        color: var(--color-secondary);
      }
    }
  }

  &.--has-error {
    input {
      border: 1px solid var(--color-contrast);
    }
  }

  &.--required {
    &:after {
      content: '*';
      position: absolute;
      top: 24px;
      right: 24px;
      color: var(--color-tertiary);

      @media (max-width: 767px) {
        right: 16px;
      }
    }
  }

  input {
    padding: 23px 48px 23px 24px;
    border-radius: 12px;
    width: 100%;
    outline: none;
    background-color: var(--color-dark);
    color: var(--color-white-contrast);
    font-size: var(--font-size-md);
    border: 1px solid var(--color-inputs-border);

    @media (max-width: 767px) {
      font-size: var(--font-size-sm);
      padding: 21px 32px 20px 16px;
    }

    &::placeholder {
      color: var(--color-tertiary);
    }
  }

  &__group {
    display: flex;
    gap: 8px;
    flex-direction: row;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 12px;
    }

    > * {
      flex: 1;
    }
  }

  &__error {
    margin-top: 2px;

    span {
      font-size: 12px;
      color: var(--color-error);
      top: 5px;
      left: 1px;
      font-weight: var(--font-weight-medium);
    }
  }
}